

.lw-banner--full {
  // background: linear-gradient($night, $evening);
  position: fixed;
  top: 84px;
  left: 0;
  right: 0;
}

.lw-site--section {
  height: 120vh;
  margin: 100px 0px;

}

.lw-content {
  position: absolute;
  top: 100vh;
  left: 45%;
  right: 0;
  padding: 5%;
  border-radius: $core-border-radius;
  background-color: $white;
  @media (max-width: 991px) {
    left: 0;
  }
}

.lw-dynmaic-header {
  @media (min-width: 990px)and (max-width: 1260px) {
    font-size: 45px;
    margin-top: -40px;
    margin-left: 8px;
  }
}