.lw-link {
  text-decoration: none !important;
  border-bottom: 1px solid $noon;
  background-color: transparent;
  color: $noon;
  padding: 0px 5px;
  
  &:hover,
  &:active,
  &:focus {
    color: $evening;
    text-decoration: none !important;
  }
}
