/* ==========================================================================
   Nav
   ========================================================================== */


  $nav-font-size: 14px;
  $nav-font-padding: 30px 15px !important;

/* Nav Components
   ========================================================================== */

.lw-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent !important;
  z-index: 1021;

  * {
    scroll-behavior: initial;
  }

  ul {
    padding: 0px;
    list-style: none;
    
    @media only screen and (max-width: 991px) {
      height: 100vh;
      text-align: center;
      font-size: $nav-font-size * 1.5;
    }
  }
  
  li {
    height: auto;
    padding: $nav-font-padding;

    a {
      display: block;
      width: 100%;
      color: $cadet !important;
      border-bottom: 3px solid transparent;
      font-family: monospace;
      font-size: $nav-font-size;
      text-transform: capitalize;
      letter-spacing: .5px;
      padding: 1px 5px;
      
      &:hover,
      &:focus,
      &:active {
        background-color: $morning;
        text-decoration: none;
        color: $noon !important;
        border-bottom: 3px solid $noon;
      }
      
      text:hover,
      text:focus,
      text:active {
        transition: $core-animation-base;
      }

      @media only screen and (max-width: 991px) {
        text-align: center;
        font-size: $nav-font-size * 1.5;
        
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
          text-decoration: none;
          color: $noon !important;
          border-bottom: 3px solid transparent;
        }
      }
    }
  }

  .navbar-brand {
    display: none;
  }

  .navbar-toggler {
    border:none;
    margin-left: auto;
    &:focus {
      background-color: transparent;
    }
  }

  @media only screen and (max-width: 991px) {
    background-color: $white !important;
  }

}