    <div class="mt-2 mb-4">
      <h2 class="lw-text--t-bold">About</h2>
    </div>

    <div class="row level-1 lw-border-radius">

      <div class="col-12 my-4 d-flex">
        
        <div class="">
          <img class="lw-avatar" src="./assets/headshot.png" alt="headshot">
        </div>
        <div>
          <h2 class="ml-4">
            Hello 👋 ... I'm Luke
          </h2>
        </div>
      
      </div>
      
      <div class="col-12 my-4 px-5">
        <p><i>"There is no such thing as a big problem, only a bunch of little ones”</i></p>
      </div>

      <div class="col-12">
        <p class="mb-3">
          As a curious youth, I loved trying understand how things work and loved exploring possibilities; This still
          holds true and is the foundation of my career.
        </p>
        <p class="mb-3">
          I have a collaborative energy, I approach software with a no-ego attitude and I’m a team player that strives
          for the best.
          I am diligent in achieving goals, building out strategic relationships, and
          looking to deliver a high standard of performance not only for myself but to empower others.
        </p>
        <p class="mb-4">
          When I’m not focusing on software, I enjoy beverages, contemplative walking in good weather, and going on
          adventures with my wife!
        </p>
      </div>

    </div>