<div class="my-2">
  <h2 class="lw-text--t-bold">About</h2>
</div>

<div class="row lw-card">
  <div class="lw-about--banner mt-3 col-12">
    <div class="lw-about__image">
      <img class="lw-avatar" src="./assets/headshot.png" alt="headshot" />
    </div>

    <div class="lw-about__content">
      <h2 class="mt-4 lw-text--c-thin">
        Hello 👋
      </h2>
      <p class="">Thanks for visiting my site!</p>
    </div>
  </div>

  <div class="mt-3">
    <div class="col-12">
      <p class="mb-3">
        As an engineer, I seek to collaboratively build systems and products
        that map to true progress. I spend an equal amount of effort outside of
        engineering to understand market landscape and stakeholder needs. I
        focus on context. I am passionate about data, where it sits, how it
        moves, and what it can tell us. I have a range of experience working
        with DevOps processes and cloud technologies, API gateways, systems
        architecture reviews, big data infrastructure, and frontend
        technologies.
      </p>
      <p class="mb-3">
        I love the learning process. My latest endeavor involves the pursuit of
        a masters degree in Information Systems Engineering with a focus in Data
        Engineering at Johns Hopkins University.
      </p>
      <p class="mb-3">
        In my current professional role, I work in the office of the CTO at HCA
        Healthcare on the Enterprise Technology & Architecture team as a
        Software Engineer. HCA Healthcare is the largest health system in the
        nation owning and operating 180+ hospitals. Our team sets the technical
        strategy that supports business objectives set by the CEO, CFO, and
        board of directors. I focus on the implementation of software, research
        and development, and review architecture of systems and applications that
        deploy to our enterprise. My favorite aspect of this experience has been
        the visibility into every facet of an organization at scale through the
        lens of computing, analysis, and governance.
        <a href="#projects">Scroll down</a> to see some projects I have worked
        on.
      </p>

      <!-- <h6>Interests/Things I learn about</h6>
      <ul class="mb-4">
        <li>Functional Programming</li>
        <li>Distributed Systems</li>
        <li>Scaling Innovations</li>
        <li>Economic Theory</li>
        <li>Life Science Research</li>
        <li>Philosophy</li>
        <li>Machine Inteligence</li>
      </ul> -->
      <p class="mb-4">
        When I’m not focusing on software, I enjoy contemplative walking in good
        weather, coffee shops, and going on adventures with my wife!
      </p>
    </div>
  </div>
</div>
