    <!-- MyCare -->
    <div class="row my-5 level-1 lw-border-radius">
      <div class="col-12 mt-4">
        <h3>MyCare TVaaP</h3>
      </div>
      <div class="col-12">
        <p class="my-2">
          HCA Healthcare wanted to create a TV platform that would combine entertainment and clinical information
          related to their care.
        </p>
        <p class="my-2">
          To achieve this, my team and I collaborated with IT leadership and clinical staff at TriStar Hendersonville
          Medical Center to create a platform
          that places patient data on the same panel as entertainment content with added Apple TV features.
          Additionally, this platform allows physicians
          to communicate critical information with patients at each step of their care.
        </p>

        <div class="col-12 my-3">
          <h5 class="lw-text--t-thin lw-text--transform-uppercase lw-text--align-center">
            Metrics
          </h5>
          <ul class="row lw-text--align-center lw-list-style--none p-0 m-0">
            <li class="col-4">
              <i class="material-icons">local_hospital</i>
              <p>8 facilites</p>
            </li>
            <li class="col-4">
              <i class="material-icons">local_hotel</i>
              <p>Over 200 Rooms</p>
            </li>
            <li class="col-4">
              <i class="material-icons">star</i>
              <p>HCA 2017 Innovators Award</p>
            </li>
          </ul>
        </div>

        <!-- technologies -->
        <div class="col-12 mb-4">
          <h5 class="lw-text--t-thin lw-text--transform-uppercase lw-text--align-center">Technologies</h5>

          <ul class="row lw-list-style--none align-items-center px-0">
            <li class="col-6 col-md-3 lw-text--align-center">
              <img src="assets/lg-webos.png" class="lw-width--90" alt="web os logo" />
            </li>
            <li class="col-6 col-md-3 lw-text--align-center">
              <img src="assets/apple_tv.png" class="lw-width--60" alt=" applTV logo" />
            </li>
            <li class="col-6 col-md-3 lw-text--align-center">
              <img src="assets/socketio.png" class="lw-width--40" alt="socket.io logo" />
            </li>
            <li class="col-6 col-md-3 lw-text--align-center">
              <img src="assets/node.png" class="lw-width--50 my-3" alt="node logo" />
            </li>
            <li class="col-6 col-md-3 lw-text--align-center">
              <img src="assets/microsoft.png" class="lw-width--70" alt="microsoft logo" />
            </li>
          </ul>
        </div>

      </div>
    </div>