<nav class="lw-nav navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site_nav" aria-controls="site_nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="site_nav">
    <!-- <a class="navbar-brand d-lg-block ml-4" href="/">
      <img src="/assets/luke_logo_black.svg" style="height: 30px" alt="site logo">
    </a> -->
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li>
        <a href="assets/Luke_Woodward_Resume_Web.pdf" download target='_blank'> resume</a>
      </li>
      <li>
        <a href="https://github.com/lukewalt" target='_blank'>github <span class="sr-only">(current)</span></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/luke-woodward/" target='_blank'>linkedin</a>
      </li>
      <li>
        <a href="/#projects">projects</a>
      </li>
      <li>
        <a href="/#about">about</a>
      </li>
    </ul>
  </div>
</nav>