    <!-- OAS -->
    <div class="row my-5 lw-card">
      <div class="col-12 mt-4">
        <h3>Online Appointment Scheduler</h3>
      </div>
      <div class="col-12">
        <p class="my-2">
          The Online Appointment Scheduler is an application that allows patients to schedule an appointment with a
          practicing
          physician with the ease of sorting by name, date, time, specialty, and gender. This application was designed
          to remove
          the confusion and friction that users experience when trying to find a doctor whose practice correlates to
          their
          condition at a time that works for both parties.
        </p>
        <p class="my-2">
          Both the services and the frontend were developed and deployed in OpenShift containers. This project
          represented a step into modern development practices and tooling for this organization in our IT department.
          Working with system administrators, API developers, and frontend developers introduced a wealth of information
          and
          practice that was both challenging and rewarding.
        </p>
      </div>

      <!-- technologies -->
      <div class="col-12 my-4">
        <h5 class="lw-text--t-thin lw-text--transform-uppercase lw-text--align-center">
          Technologies
        </h5>

        <ul class="lw-list-style--none row align-items-center px-0">
          <li class="col-6 col-md-3 lw-text--align-center">
            <img src="assets/vue.png" class="lw-width--20" alt="web os logo" />
          </li>
          <li class="col-6 col-md-3 lw-text--align-center">
            <img src="assets/java.png" class="lw-width--20" alt=" microsoft logo" />
          </li>
          <li class="col-6 col-md-3 lw-text--align-center">
            <img src="assets/openshift.png" class="lw-width--20" alt="socket.io logo" />
          </li>
          <li class="col-6 col-md-3 lw-text--align-center">
            <img src="assets/a_repos.svg" class="lw-width--20 my-3" alt="node logo" />
          </li>
        </ul>
      </div>

    </div>